*,
::before,
::after {
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}

@-webkit-keyframes morpha {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }

    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
}

@keyframes morpha {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }

    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
}


@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.hand-container {
    position: relative;
}

.waving-hand {
    animation: wave 3s infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: rotate(30deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(20deg);
    }
}

/* // Mdeia Query Starts */


@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .hero-text img {
        left: 300px;
    }

    .about {
        margin-top: 190px;
    }

    .about-content {
        margin: 0 -100px;
        grid-template-columns: 41rem 39rem !important;
    }

    .img-side__main-img {
        height: 32rem !important;
        width: 38rem !important;
    }

    .img-side span {
        right: 5px !important;
    }

    .work-emoji {
        bottom: 40px !important;
        right: 75px !important;
    }

    .text-side {
        padding-right: -2.5rem !important;
    }

    .img-side span {
        height: 16rem !important;
        width: 16rem !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-text img {
        right: 8rem !important;
    }

    .hero-text h1 {
        font-size: 36px !important;
        /* margin-left: 9rem !important; */
        margin-right: -46px !important;
    }

    .hero-text {
        margin-left: 2rem !important;
    }

    .hero-img {
        width: 40rem !important;
        height: 32rem !important;
        right: 4rem !important;
        animation: morpha 4s ease-in-out infinite !important;
    }

    .hero-text img {
        height: 5rem !important;
        left: 195px !important;
        top: 55px !important;
        width: 5rem !important;

    }

    .skills {
        left: 0 !important;
    }

    .about {
        padding: 8rem 0 !important;
    }

    .about-content {
        grid-template-columns: 1fr !important;
        text-align: center !important;
    }

    .work-emoji {
        bottom: 60px !important;
        right: 130px !important;

    }

    .img-side__main-img {
        margin-bottom: 3.5rem !important;
        height: 34rem !important;
        width: 50rem !important;
        margin-left: 65px !important;
    }

    /* .img-side span {
        bottom: -3px !important; 
        height: 17rem !important;
        right: 190px !important;
        width: 17rem !important;
    } */
    .text-side {
        margin: 0 auto !important;
        max-width: 54rem !important;
    }
}

@media only screen and (max-width:768px) {
    .hero-main {
        flex-direction: column-reverse !important;
        gap: 3rem !important;
        height: auto !important;
        text-align: center !important;
    }
    .hero {
        height: auto !important;
        padding: 11rem 0 !important;
    }
    .content {
        flex-direction: column !important;
        gap: 3rem !important;
        height: auto !important;
        text-align: center !important;
    }
    .hero-img{
        width: 30rem !important;
    }
    .hero-text h1{
        font-size: 3.5rem !important;
    }
    .hero-text img {
        left: 26rem !important;
        top: 4.5rem !important;
    }
    .hero-text p {
        margin-bottom: 5rem !important;
    }
    .hero-text span {
        gap: 1.6rem !important;
        justify-content: center !important;
        margin-bottom: 4rem !important;
        margin-top: -2rem !important;
    }
    .skills {
        flex-direction: column !important;
        position: static !important;
    }
    .skills p {
        border-bottom: 2px solid rgba(45,46,50,.5) !important;
        border-right: none !important;
        margin-bottom: 3rem !important;
        margin-right: 0 !important;
        padding-bottom: 1rem !important;
        padding-right: 0 !important;
    }
    .skills ul {
        justify-content: center !important;
    }
    .about {
        padding: 8rem 0 !important;
    }
    .about-content {
        grid-template-columns: 1fr !important;
        text-align: center !important;
    }
    .work-emoji {
        display: none;
    }
    .img-side__main-img {
        margin-bottom: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 29rem !important;
        width: 38rem !important;
    }
    .img-side span img{
        display: none;
    }
    .img-side span{
        display: none;
    }
    .mine-name::before {
        width: 61% !important;
        height: 5px !important;
        left: 89px !important;
    }
    .text-side h4{
        font-size: 27px !important;
    }
}

/* // Media query end */

.projects-grid .pro__img {
    background-color: hsla(0, 0%, 46%, .2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: auto;
    overflow: hidden;
    width: 53rem
}

.img-side span img {
    -webkit-animation: rotate 9s linear infinite;
    animation: rotate 9s linear infinite;
    width: 19rem
}

html {
    font-size: 80%;
    scroll-behavior: smooth;
}

:not(svg) {
    transform-origin: 0px 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #878787;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
    background-color: #fff;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
}

.nav-font {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

.mine-name {
    position: relative;
}

.mine-name::before {
    content: '';
    position: absolute;
    width: 43%;
    height: 4px;
    border-radius: 4px;
    background-color: #40e9fc;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.mine-name:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.img-side__main-img {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.text-side {
    padding-right: 1.5rem;
}

.text-side h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 6rem;
    text-transform: uppercase;
}

.text-side h4 {
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.text-side p {
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.skills ul li img:hover {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
}

.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.hero-text img {
    height: 6rem;
    position: absolute;
    right: 38rem;
    left: 24rem;
    top: 5.7rem;
    width: 6rem;
}

.hero-text span a {
    color: #2d2e32;
    font-size: 3rem;
}

.hero-text span a {
    transition: all .2s;
}

#navbarScroll {
    font-weight: 600;

}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hero-text span a {
    color: #2d2e32;
    font-size: 3rem;
}

div {
    display: block;
}

.skills {
    align-items: center;
    bottom: 120px;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 100px;
    position: absolute;
}

.skills p {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 7rem;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.skills ul li img {
    height: 5rem;
    transition: all .3s ease-in-out;
    width: 11rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.skills ul li {
    cursor: pointer;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}

.skills ul li img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    transition: all .3s ease-in-out;
    width: 4rem;
}

.mobile-nav {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
}

.hero-text span a {
    transition: all .2s;
}

.hero-text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}

.hero-text p {
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-text h1 {
    color: #2d2e32;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.hero-img {
    animation: morpha 8s ease-in-out infinite;
    background-image: url(../img/hero-banner-tahir.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    overflow: hidden;
    width: 35rem;
}

.hero-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 107rem !important;
    padding: 0 4rem;
}

.home {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* About Section Start */
section {
    display: block;
}


.about {
    background-color: #fff;
    padding: 15rem 0;
}

.about-content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: 53rem 45rem; */
    justify-content: center;
}

.work-emoji {
    bottom: 54px;
    position: absolute;
    right: 122px;
    width: 6rem !important;
    z-index: 10;
}

.img-side span {
    background-color: #fff;
    border-radius: 50%;
    bottom: -33px;
    height: 19rem;
    position: absolute;
    right: 33px;
    width: 19rem;
}

.img-side {
    position: relative;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* About Section end */

.mobile-nav span {
    cursor: pointer;
    font-size: 3.3rem;
    position: absolute;
    right: 4rem;
    top: 2rem;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    gap: 4rem;
    list-style: none;
}

.mobile-nav span:hover {
    color: #147efb;
    transition: all .3s;
}

.your-navbar-class {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mobile-nav {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 0 !important;
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
}

.open-menu {
    left: 0 !important;
}

.closed-menu {
    left: -100% !important;
}

@keyframes morpha {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background-color: #9c9391;
        /* Initial background color */
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        background-color: #766a68;
        /* Change the background color at 50% */
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background-color: #9c9391;
        /* Back to the initial background color at 100% */
    }
}


.img-side span img {
    animation: rotate 9s linear infinite;
    width: 18rem;
    transform-origin: center center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}