*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.slick-arrow {
  display: none !important;
}

@-webkit-keyframes morpha {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes morpha {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.hand-container {
  position: relative;
}

.waving-hand {
  animation: wave 3s infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(20deg);
  }
}

/* // Mdeia Query Starts */

@media only screen and (min-width: 1020px) {
  #contacts {
    height: 88vh;
  }
}
@media only screen and (max-width: 1020px) {
  .about {
    padding: 9rem 0 !important;
  }

  .about-content {
    grid-template-columns: 1fr !important;
    text-align: center !important;
  }

  .work-emoji {
    bottom: 40px !important;
    right: 228px !important;
  }

  .img-side__main-img {
    margin-bottom: 3.5rem !important;
  }

  .img-side span {
    bottom: -3px !important;
    height: 12rem !important;
    right: 185px !important;
    width: 12rem !important;
  }

  .img-side span img {
    width: 17rem !important;
  }

  .text-side {
    margin: 0 auto !important;
    max-width: 54rem !important;
  }

  .projects {
    padding: 8rem 0 !important;
  }

  .contact {
    padding: 8rem 0 !important;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    height: auto !important;
    padding: 11rem 0 !important;
  }

  .content {
    flex-direction: column !important;
    gap: 3rem !important;
    height: auto !important;
    text-align: center !important;
  }

  .hero-main {
    flex-direction: column-reverse !important;
    gap: 3rem !important;
    height: auto !important;
    text-align: center !important;
  }

  .hero-text img {
    right: 3rem !important;
  }

  .hero-text p {
    margin-bottom: 5rem !important;
  }

  .hero-text span {
    gap: 1.6rem !important;
    justify-content: center !important;
    margin-bottom: 4rem !important;
    margin-top: -2rem !important;
  }

  .skills {
    flex-direction: column !important;
    position: static !important;
  }

  .skills p {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5) !important;
    border-right: none !important;
    margin-bottom: 3rem !important;
    margin-right: 0 !important;
    padding-bottom: 1rem !important;
    padding-right: 0 !important;
  }

  .skills ul {
    justify-content: center !important;
  }

  .hero-text img {
    left: 38rem !important;
  }
}

@media only screen and (max-width: 880px) {
  .work-emoji {
    bottom: 50px !important;
    right: 120px !important;
  }

  .img-side span {
    bottom: 6px !important;
    right: 76px !important;
  }

  .hero-text img {
    left: 38rem !important;
  }
}

@media only screen and (max-width: 750px) {
    .main-parent {
        flex-direction: column; /* Change to row */
    }

    .work-emoji {
    display: none !important;
  }

  .img-side span {
    display: none !important;
  }

  .hero-text img {
    left: 31rem !important;
  }

  .contact__title {
    text-align: center !important;
  }

  .contact__icons {
    flex-direction: column !important;
    gap: 5rem !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .contact__icon-box {
    flex-direction: column !important;
  }
}

/* @media only screen and (max-width: 600px) {} */

@media only screen and (max-width: 500px) {
  .hero-img {
    height: 23rem !important;
    width: 20rem !important;
  }

  .hero-text h1 {
    font-size: 3rem !important;
  }

  .hero-text img {
    height: 4.5rem !important;
    right: 4rem !important;
    top: 4.4rem !important;
    width: 4.5rem !important;
    left: 19rem !important;
  }

  .hero-text p {
    font-size: 1.3rem !important;
  }

  .footerc {
    flex-wrap: wrap !important;
    gap: 2rem !important;
    justify-content: center !important;
    text-align: center !important;
  }
}

@media only screen and (max-width: 460px) {
  .containers {
    padding: 0 1.7rem !important;
  }

  .img-side__main-img {
    height: auto !important;
    width: 90% !important;
  }

  .text-side h4 {
    margin-top: -1rem !important;
    font-size: 1.4rem !important;
  }

  .text-side p {
    font-size: 1.2rem !important;
  }

  .projects-text {
    font-size: 30px !important;
  }

  .mine-name:hover::before {
    height: 4px !important;
    left: 64px !important;
    width: 58% !important;
  }

  .slider-image {
    height: 100px !important;
    width: 100px !important;
  }

  .slick-dots {
    top: 160px !important;
  }

  .slick-slider {
    width: 300px !important;
    height: 210px !important;
  }

  .slick-prev,
  .slick-next {
    top: 80px !important;
  }
}

/* // Media query end */

/* // project section */
.project {
  background-color: #f9f9f9;
  padding: 10rem 0;
}

.new-projects {
  color: #147efb;
  font-size: 2.6rem;
  text-align: center;
}

/* // project section end */

.img-side span img {
  -webkit-animation: rotate 9s linear infinite;
  animation: rotate 9s linear infinite;
  width: 19rem;
}

html {
  font-size: 80%;
  scroll-behavior: smooth;
}

:not(svg) {
  transform-origin: 0px 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #878787;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 20px;
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
  background-color: #fff;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

a:-webkit-any-link {
  /* color: -webkit-link; */
  cursor: pointer;
}

.nav-font {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}

.mine-name {
  position: relative;
}

.mine-name::before {
  content: "";
  position: absolute;
  width: 43%;
  height: 4px;
  border-radius: 4px;
  background-color: #40e9fc;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.mine-name:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.img-side__main-img {
  border-radius: 1.7rem;
  height: 28rem;
  width: 35rem;
}

.text-side {
  padding-right: 1.5rem;
}

.text-side h3 {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.text-side h4 {
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.text-side p {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  /* max-width: 90%;
    max-height: 422px; */
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.skills ul li img:hover {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

.hero {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.hero-text img {
  height: 6rem;
  position: absolute;
  right: 38rem;
  left: 24rem;
  top: 5.7rem;
  width: 6rem;
}

.hero-text span a {
  color: #2d2e32;
  font-size: 3rem;
}

.hero-text span a {
  transition: all 0.2s;
}

#navbarScroll {
  font-weight: 600;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.hero-text span a {
  color: #2d2e32;
  font-size: 3rem;
}

div {
  display: block;
}

.skills {
  align-items: center;
  bottom: 120px;
  color: #767676;
  display: flex;
  font-size: 1.7rem;
  left: 100px;
  position: absolute;
}

.skills p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-family: Mulish, sans-serif;
  font-weight: 600;
  margin-right: 7rem;
  padding-right: 7rem;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.skills ul li img {
  height: 5rem;
  transition: all 0.3s ease-in-out;
  width: 11rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.skills ul li {
  cursor: pointer;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
}

.skills ul li img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  transition: all 0.1s ease-in-out;
  width: 4rem;
}

.mobile-nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 300;
}

.hero-text span a {
  transition: all 0.2s;
}

.hero-text span {
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}

.hero-text p {
  color: #555;
  font-family: Mulish, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}

.hero-text h1 {
  color: #2d2e32;
  font-size: 53px;
  line-height: 1.2;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.hero-img {
  animation: morpha 5s ease-in-out infinite;
  background-image: url(../img/hero-banner-tahir.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 32rem;
  position: relative;
  overflow: hidden;
  width: 26rem;

  /* Add the following styles */
  --s: 256px;
  /* the size of the image */
  --b: 10px;
  /* the border thickness*/
  --g: 1px;
  /* the gap */
  --c: #a7f3d0;
  /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s) / 2) solid #544b4b99;
  outline-offset: calc(var(--s) / -2);
  cursor: pointer;
  transition: 0.3s;
}

.hero-img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  z-index: -1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}

.hero-main {
  align-items: center;
  display: flex;
  gap: 5rem;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 60rem;
  justify-content: center;
  position: relative;
}

.home {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.main {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* About Section Start */
section {
  display: block;
}

.about {
  background-color: #fff;
  padding: 11.2rem 0;
}

.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: 53rem 45rem; */
  justify-content: center;
}

.work-emoji {
  bottom: 15px;
  position: absolute;
  right: 85px;
  width: 6rem;
  z-index: 10;
}

.img-side span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -33px;
  height: 13rem;
  position: absolute;
  right: 33px;
  width: 13rem;
}

.img-side {
  position: relative;
  display: flex;
  justify-content: center;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* About Section end */

.mobile-nav span {
  cursor: pointer;
  font-size: 3.3rem;
  position: absolute;
  right: 4rem;
  top: 2rem;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  font-size: 2.3rem;
  gap: 4rem;
  list-style: none;
  margin-top: 120px;
}

.mobile-nav span:hover {
  color: #147efb;
  transition: all 0.3s;
}

.your-navbar-class {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(10px) !important;
}

.mobile-nav {
  font-size: 62.5%;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0 !important;
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 300;
}

.open-menu {
  left: 0 !important;
}

.closed-menu {
  left: -100% !important;
}

@keyframes morpha {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background-color: #9c9391;
    /* Initial background color */
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background-color: #766a68;
    /* Change the background color at 50% */
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background-color: #9c9391;
    /* Back to the initial background color at 100% */
  }
}

.img-side span img {
  animation: rotate 9s linear infinite;
  width: 18rem;
  transform-origin: center center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mobile-nav {
  display: none;
}

.open-menu {
  display: block;
}

.closed-menu {
  display: none;
}

.containers {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 4rem;
}

/* /// */
.slider-image {
  height: 500px;
  width: 400px;
  background-color: black;
}

.slick-dots {
  bottom: -15px !important;
}

.slick-slider {
  width: 600px;
  height: 300px;
}

.slick-prev:before,
.slick-next:before {
  color: #147efb !important;
}

.slick-prev,
.slick-next {
  top: 150px;
}

/* like button style */
.like-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.like-button {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.like-count {
  font-size: 14px;
  color: red;
  margin-left: 4px;
}

.like-button:hover {
  background-color: #f0f0f0;
}

/* end like button style */

/* Customise */
.bg-emerald-200 {
    background: transparent !important;
}
.blocks {
    height: 5em;
    line-height: 5em;
    width: 10em;
    transition: all 0.3s ease-out;
    background: #3e434b;
    color: #fdfdfd;
    text-align: center;
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
  }
  50% {
      transform: scale(1.05);
    }
  70% {
      transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.leading-10 {
  line-height: 1.5rem !important;
}
.py-20 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.button-85 a{
    color: #50ac80 !important;

}
.button-85{
    padding: 0.6em 2em !important;
    border: none;
    outline: none;
    background: #4a4343;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-85:hover a{
    color: black !important;
}
.button-85:hover{
    background: #73ba98;
}

/* Customise */
.main-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.gap-4{
    gap: 20px !important;
}