*,
::before,
::after {
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}

html {
    font-size: 80%;
    scroll-behavior: smooth;
}

:not(svg) {
    transform-origin: 0px 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #878787;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
    background-color: #fff;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}


.img-side__main-img {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.text-side {
    padding-right: 1.5rem;
}

.text-side h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 6rem;
    text-transform: uppercase;
}

.text-side h4 {
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.text-side p {
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.skills ul li img:hover {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
}

.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.hero-text img {
    height: 6rem;
    position: absolute;
    right: 21rem;
    top: 7.7rem;
    width: 6rem;
}

.hero-text span a {
    color: #2d2e32;
    font-size: 3rem;
}

.hero-text span a {
    transition: all .2s;
}

#navbarScroll {
    font-weight: 600;

}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hero-text span a {
    color: #2d2e32;
    font-size: 3rem;
}

div {
    display: block;
}

.skills {
    align-items: center;
    bottom: 120px;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 100px;
    position: absolute;
}

.skills p {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 7rem;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.skills ul li img {
    height: 5rem;
    transition: all .3s ease-in-out;
    width: 11rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.skills ul li {
    cursor: pointer;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}

.skills ul li img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    transition: all .3s ease-in-out;
    width: 4rem;
}

.mobile-nav {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
}

.hero-text span a {
    transition: all .2s;
}

.hero-text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}

.hero-text p {
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-text h1 {
    color: #2d2e32;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.hero-img {
    animation: morpha 8s ease-in-out infinite;
    background-image: url(./img/hero-banner-tahir.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    overflow: hidden;
    width: 35rem;
}

.hero-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.home {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* About Section Start */
section {
    display: block;
}


.about {
    background-color: #fff;
    padding: 15rem 0;
}

.about-content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.work-emoji {
    bottom: 54px;
    position: absolute;
    right: 122px;
    width: 6rem !important;
    z-index: 10;
}

.img-side span {
    background-color: #fff;
    border-radius: 50%;
    bottom: -33px;
    height: 19rem;
    position: absolute;
    right: 33px;
    width: 19rem;
}

.img-side {
    position: relative;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* About Section end */

.mobile-nav span {
    cursor: pointer;
    font-size: 3.3rem;
    position: absolute;
    right: 4rem;
    top: 2rem;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    gap: 4rem;
    list-style: none;
}

.mobile-nav span:hover {
    color: #147efb;
    transition: all .3s;
}

.your-navbar-class {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    /* Adjust the background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for a subtle effect */
    z-index: 1000;
    /* Adjust the z-index to ensure the navbar appears above other elements */
}

.mobile-nav {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 0 !important;
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
}

.open-menu {
    left: 0 !important;
}

.closed-menu {
    left: -100% !important;
}

@keyframes morpha {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background-color: #9c9391;
        /* Initial background color */
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        background-color: #766a68;
        /* Change the background color at 50% */
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background-color: #9c9391;
        /* Back to the initial background color at 100% */
    }
}


.img-side span img {
    animation: rotate 9s linear infinite;
    width: 18rem;
    transform-origin: center center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}